cli alias name sir show ip route
cli alias name srb sho run | beg
cli alias name sri sho run | inc
cli alias name son sho ip ospf nei
cli alias name sr sho run
cli alias name sirc sho ip route vrf cos
cli alias name sli show log | include
cli alias name sle show log | exclude
cli alias name wr copy run start